<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .card-img-left {
            border-bottom-left-radius: calc(.25rem - 1px);
            border-top-left-radius: calc(.25rem - 1px);
            float: left;
            padding-right: 1em;
        }
    </style>

</head>

<body>
    <div *ngIf="user">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{user.name}}</h4>
                <img class="card-img card-img-left col-sm-4" src="{{user.avatar_url}}" alt="Card image cap" style="width:20rem;">
                <p class="card-text">
                    <span class="badge badge-default">{{user.public_repos}} Public repos</span>
                    <span class="badge badge-primary">{{user.public_gists}}} Public gists</span>
                    <span class="badge badge-success">{{user.followers}} Followers</span>
                    <span class="badge badge-info">{{user.following}} Following</span>
                </p>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
                    <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
                    <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                    <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
                    <li class="list-group-item"><strong>Member since: </strong>{{user.created_at}}</li>
                </ul>
            </div>
            <a class="btn btn-default" target="_blank" href="{{user.html_url}}">View Profile</a>
        </div>

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">User Repos</h4>
                <div class="card-text" *ngFor="let repo of repos">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>
                                <a href="{{repo.html_url}}" target="_blank">
                                    {{repo.name}}
                                </a>
                            </h4>
                            <p>{{repo.description}}</p>
                        </div>
                        <div class="col-md-3">
                            <span class="badge badge-default">{{repo.watchers}} Watchers</span>
                            <span class="badge badge-primary">{{repo.forks}}} Forks</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</body>

</html>